a{
    color:#337ab7;
}
a:link {
    text-decoration: none;
}

table { border-collapse:collapse }

.textOnly{
    margin: 0px auto;
    padding:25px;
}
.dataBig{
    display:show !important;
    visibility: visible !important;
}
.dataSmall{
    display:none !important;
    visibility: hidden !important;
}

@media (min-width: 280px) and (max-width: 520px) {
    .dataBig{
        display:none !important;
        visibility: hidden !important;
    }
    .dataSmall{
        display:block !important;
        visibility: visible !important;
        margin: 5px auto !important;
    }
    .textOnly{
        margin: 0px auto;
        padding:5px !important;
    }
}